<div>
  <h1>
    Start by entering your zipcode.
  </h1>
  <form action='/zipcode' method='get'>
    <input type='text' name='zipcode' placeholder='Zipcode'>
    <input type='submit' value='Submit'>
  </form>
</div>