<div>
  <h3>
    <a href='/oauth'>
      Sign in with Twitter!
    </a>
  </h3>
  <h1>
    Top Tweeters @Congress
  </h1>
  <ul>
    <% @top_users.each do |user| %>
      <li>
        <img src='<%= user.profile_image_url_https %>' > <%= user.tweet_count %> Tweets: @<%= user.screen_name %>
      </li>
    <% end %>
  </ul>
</div>