<div>
  <h1>
    Start by entering what you're interested in and your zipcode.
  </h1>
  <form action='/results' method='get' id='search_form'>
    <input type='text' name='search_term' placeholder='What are you interested in?'>
    <input type='text' name='zipcode' placeholder='Zipcode'>
    <input type='submit' value='Search Congress'>
  </form>
</div>