<div id='search'>
  <h1>
    Search the Congressional Record for entries from your Representatives.
  </h1>
  <form action='/results' method='get' id='search_form'>
    <input type='text' name='search_term' placeholder='What are you interested in?'>
    <input type='text' name='zipcode' placeholder='Your Zipcode'>
    <input class='button' type='submit' value='Search Congressional Record'>
  </form>
</div>