<div>
  <div id='climate_results'>
    <h1>
      Climate Change Data
    </h1>
    <ul>
      <li>
        Average Annual Change in Temperature (in degrees Celsius): <%= @average_annual_change %>
      </li>
    </ul>
  </div>
  <div id='sunlight_results'>
    <h1>
      Your Congressional Representatives
    </h1>
    <ul>
      <% @reps.each do |name, email| %>
        <li>
          <%= name %> : <a href="mailto:<%= email %>"> Email them about it! </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div id='sunlight_email_form'>
    <form action='mailto:bhhutchens@gmail.com' enctype='text/plain' method='get'>
      <input type='textarea' name='body' placeholder='your message'>
      <input type='submit' value='Submit'>
    </form>
  </div>
</div>